@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root{
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #142850;
    --primary-color: #7caeda;
}
body{
    text-align: center;
    background-color: var(--bg-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    margin: 0;
    font-family: var(--font-family);
}

h1{
    font-size: 5em;
}

h2{
    font-size: 4em;
}

h3{
    font-size: 2em;
    margin-top: 20px;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 40px;
}

.box{
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar{
    display: block;
    padding: 8px 15px;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin: 20px auto;
}